<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/estilos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="scripts/scripts.js" defer></script>
    <title>Portfólio | Guilherme Madeira</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title"> Guilherme M.</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <ol><a href="/">Sobre</a></ol>
                <ol><a href="/projetos">Listar projetos</a></ol>
                <ol><a href="/addForm">Adicionar Projeto</a></ol>
            </ul>
        </div>
        
        
    </nav>
